body {
    font-family: arial;
    padding: 30px;    
}
.red {
    color: #f00;
}
.user-form-wrapper {
    padding: 15px 0 30px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px; 
}
#repo-list {
    padding: 0 0 30px 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid #ccc;
}
#repo-list li {
    padding: 10px;
}
#repo-list .repo-name {
    display: inline-block;
    width: 300px;
}
.issue-form-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
}
.issue-form-wrapper .container {
    width: 300px;
    margin: 100px auto;
    padding: 100px;
    background: #fff;
}
.show {
    display: block;
}
input[type=text],
textarea {
    width: 200px;
}